body {
  font-family: 'Monserrat', 'Open Sans', sans-serif;
  font-size: 1rem;
  text-align: left;
  color: black;
  font-weight: 400;
  line-height: 1.5;
  background-color: #DFD3C3;
}

nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

span.nav-toggle {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 20px;
}

nav ul li {
  list-style-type: none;
  font-size: 15px;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
  padding: 5px 50px;
}

nav ul li:first-child {
  margin-top: 0;
}

nav ul li:hover {
  opacity: 0.5;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #F0F0F0;
}

.hero-container {
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.avatar-hero {
  width: 364px;
  border-radius: 5px;
}

.about-me-container {
  /* background-color: #A68DAD; */
  background-color: #FFE8DF;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-me-container h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-family: 'Monserrat', sans-serif;
}

.skills-container {
  height: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #A68DAD; */
  background-color: #FFE8DF;
}

.skills-container ul {
  list-style-type: none;
}

.projects-container {
  height: 100vh;
}

.contact-me-container {
   height: auto;
   padding-left: 15px;
   padding-right: 15px;
   margin-right: auto;
   margin-left: auto;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.active {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
}

.form input {
  width: 300px;
}

.form label {
  padding-top: 8px;
}

.form-container {
  padding-bottom: 24px;
}

.fa-brands, .fa-solid {
  font-size: 2rem;
  padding: 8px;
  color: black;
  transition: .5s;
}

.fa-brands:hover, .fa-solid:hover {
  color: #F0F0F0;
  transform: translateY(-7px);
}

.form-button {
  border-radius: 12px;
  padding: 6px 12px;
  margin-top: 8px;
  color: white;
  background-color: #888888;
}

@media screen and (min-width: 800px) {
  nav {
    height: 100px;
    flex-direction: row;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    flex-direction: row;
  }

  nav ul li {
    display: inline-block;
    margin: 0 70px 0 0;
    text-align: left;
    border-bottom-style: none;
    padding: 0;
  }

  span.nav-toggle {
    display: none;
  }
}
